body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.customNav {
  background-color: transparent !important;
}

.nav-link:hover {
  text-decoration: line-through;
  font-style: italic;
}

.customNav a {
  font-family: FKReg, sans-serif;
  color: white !important;
}

h1 {
  font-family: FKReg, sans-serif;
  color: white;
  margin-left: -20px;
}

/* Jumbotron/hero section  */

.button {
  background-color: black !important;
  border: none !important;
  left: 50px;
}

.button:hover {
  background-color: white !important;
  color: black !important;
  font-weight: bold;
}

.abstractBackground {
  background-image: url(./images/image4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  background-position: bottom;
}

.rounded {
  max-width: 100%;
  max-height: 300px;
  width: auto;
}

.aboutMe {
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 45px;
  font-size: 24px;
  justify-content: center;
}

.cvspec {
  text-align: left;
  /* padding-top: 50px; */
  /* padding-left: 50px;
  padding-right: 45px; */
  font-size: 18px;
  /* justify-content: center; */
}

.skillsButton {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1px 9px 1px 9px;
  margin-top: 10px;
}

.workHeading {
  text-align: center;
  font-size: 37px;
}

.content {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 110px;
  padding-bottom: 20px;
  text-align: center;
}

.card-title {
  color: white !important;
}

.colour {
  background-color: #080d17;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.html {
  background-color: rgb(105, 52, 113) !important;
  color: white !important;
  border: none !important;
  padding: 1px 7px 1px 7px !important;
  font-size: 12px;
  justify-content: space-between !important;
  border-radius: 15px;
  justify-content: space-between !important;
  margin: 0 5px;
}

.links {
  background-color: rgb(105, 52, 113) !important;
  color: white !important;
  border: none !important;
  padding: 1px 13px 1px 13px !important;
  font-size: 12px;
  justify-content: space-between !important;
  border-radius: 30px;
  justify-content: space-between !important;
  margin: 0 20px;
}

.links:hover {
  border: 5px !important;
}

.html:hover {
  background-color: black;
}

.github {
  color: white;
}

.card-img-top {
  object-fit: cover;
  height: 55%;
}

p {
  font-weight: lighter;
  font-size: 14px;
}

.music-app,
.password-photo,
.weatherapp-image,
.quiz-image,
.love-image,
.door-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-text {
  color: white;
}

.footer {
  background-color: white;
  color: black;
  border-color: black;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.contactMe {
  text-align: center;
}

.emailButton {
  display: flex;
  justify-content: center;
}

.finalButton {
  border-radius: 15px;
  border: 3px solid black;
  padding-left: 10px;
  padding-right: 10px;
  color: black !important;
  transition: box-shadow 0.3s ease;
}

.finalButton:hover {
  background-color: black;
  color: white !important;
  box-shadow: 3px 3px 5px rgb(102, 18, 102);
}

.link:hover {
  text-decoration: underline;
}

.fullName {
  color: white;
}

.formButton {
  border-radius: 30px;
  background-color: rgb(123, 21, 138);
  color: white;
  padding: 6px 14px 6px 14px;
  border: none;
}

#message {
  width: 100% !important;
}

.contactlink {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  border: none !important;
  padding: 1px 13px 1px 13px !important;
  font-size: 12px;
  justify-content: space-between !important;
  border-radius: 30px;
  justify-content: space-between !important;
  margin: 0 20px;
}

.form-group,
.contact-form {
  color: white;
}
